Options -Indexes

RewriteEngine On

# Bloqueia acesso direto a arquivos sensíveis
<FilesMatch "(database\.php|\.env|composer\.json|composer\.lock)">
    Require all denied
</FilesMatch>

# Bloqueia arquivos ocultos
RewriteRule "(^|/)\." - [F,L]

# Força HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Página inicial
DirectoryIndex index.php